@import "tailwindcss";

/* LIGHT THEME */
html.light {
  --zinc300: #09090b;
  --zinc400: #18181b;
  --zinc500: #27272a;
  --zinc700: #40404f;
  --zinc800: #71717a;
  --zinc900: #a1a1aa;
  --zinc950: #d4d4d8;

  --text-color: var(--zinc300);
}

/* DARK THEME */
html.dark {
  --zinc300: #d4d4d8;
  --zinc400: #a1a1aa;
  --zinc500: #71717a;
  --zinc700: #40404f;
  --zinc800: #27272a;
  --zinc900: #18181b;
  --zinc950: #09090b;

  --text-color: var(--zinc300);
}

.bg-z300 { background-color: var(--zinc300); }
.bg-z400 { background-color: var(--zinc400); }
.bg-z500 { background-color: var(--zinc500); }
.bg-z700 { background-color: var(--zinc700); }
.bg-z800 { background-color: var(--zinc800); }
.bg-z900 { background-color: var(--zinc900); }
.bg-z950 { background-color: var(--zinc950); }

.bg-z300-hover:hover { background-color: var(--zinc300); }
.bg-z400-hover:hover { background-color: var(--zinc400); }
.bg-z500-hover:hover { background-color: var(--zinc500); }
.bg-z700-hover:hover { background-color: var(--zinc700); }
.bg-z800-hover:hover { background-color: var(--zinc800); }
.bg-z900-hover:hover { background-color: var(--zinc900); }
.bg-z950-hover:hover { background-color: var(--zinc950); }

.border-z300 { border-color: var(--zinc300); }
.border-z400 { border-color: var(--zinc400); }
.border-z500 { border-color: var(--zinc500); }
.border-z700 { border-color: var(--zinc700); }
.border-z800 { border-color: var(--zinc800); }
.border-z900 { border-color: var(--zinc900); }
.border-z950 { border-color: var(--zinc950); }

.text-theme { color: var(--text-color); }
.text-z300 { color: var(--zinc300); }
.text-z400 { color: var(--zinc400); }
.text-z500 { color: var(--zinc500); }
.text-z700 { color: var(--zinc700); }
.text-z800 { color: var(--zinc800); }
.text-z900 { color: var(--zinc900); }
.text-z950 { color: var(--zinc950); }

body {
  background-color: var(--z950);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
  overscroll-behavior: contain;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
  scrollbar-gutter: stable;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

html {
  color-scheme: light dark;
}